.best-button {
	cursor: pointer;
	transition: 0.3s;
	border: 0;
	padding: 0.3rem 1rem;
	border-radius: 0.3rem;
}

.eye-candy {
	border-radius: 0.3rem;
	// animated gradient
	background: linear-gradient(
		to right,
		#f093fb 0%,
		#e91c37 51%,
		#f093fb 100%
	);
	background-size: 200% auto;
	animation: gradient 1s ease infinite;
}

//gradient rotate
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.eye-candy {
	transition: 0.3s;
	display: grid;
	place-items: center;
	&:hover {
		padding: 0.3rem;
		border-radius: 0.3rem;
		transform: scale(1.3);
		.best-button {
			transform: scale(0.9);
		}
	}
}
