.congratulations {
	position: fixed;
	z-index: 2137;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	//rainbow background
	background: linear-gradient(
		90deg,
		hsl(0, 100%, 50%),
		hsl(30, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(90, 100%, 50%),
		hsl(120, 100%, 50%),
		hsl(150, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(210, 100%, 50%),
		hsl(240, 100%, 50%),
		hsl(270, 100%, 50%),
		hsl(300, 100%, 50%),
		hsl(330, 100%, 50%)
	);

	div {
		//card style
		background: hsl(0, 0%, 100%);
		border-radius: 10px;
		box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.5);
		padding: 20px;
	}

	//bg size
	background-size: 400% 400%;

	//bg animation
	animation: bg-move 10s ease-in-out infinite;
}

@keyframes bg-move {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

.disabled {
	visibility: hidden;
	opacity: 0;
}
