@use './congratulations.scss';
@use './UI/bestButtonEver.scss';
@use './UI/modal.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: hsl(0, 0%, 8%);
}

.main-app {
	display: grid;
	place-items: center;

	height: 100vh;
	width: 100vw;
}
